.root {
    -fx-background-color: AliceBlue;
    -fx-font-size: 12pt;
}
#testProjectListBox {
    -fx-min-width: 200;
    -fx-max-width: 200;
}
#testPlanListHBox {
    -fx-min-width: 200;
    -fx-max-width: 200;
}
#testSuitsPaneVbox {
    -fx-padding: 0;
}
#testSuitsTreePane {
    -fx-font-size: 10pt;
}
#suiteButtons{
    -fx-spacing: 4;
}
#testPlanProjectListHBox{
    -fx-spacing: 4;
}